<section data-ng-controller="HomeController" data-ng-init = "findUser();">
	
	<div class = "userNotification" data-ng-hide = "requestUsers.length == 0">
	<div data-ng-hide = "requestUsers.length == 0">
		{{requestUsers.length}} has sign up to join since you last log in
	</div>
	<ul class = "list-inline">
		<li data-ng-repeat = "user in requestUsers" data-ng-show = "{{user.isUser}} == 0">
			<span>{{user.displayName}}</span>
			<br>
			<span>{{user.email}}</span>
			<br>
			<button class = "btn btn-primary" data-ng-click = "accept(user._id)">Accept</button>
			<button class = "btn btn-danger" data-ng-click = "deleUser(user._id)"> Decline</button>
		</li>
	</ul>
	</div>


<div dir="ltr">
<div style="text-align:center">
<div style="display:inline;float:right;margin-top:5px;margin-right:10px;margin-bottom:5px;margin-left:10px"><a href="https://sites.google.com/site/northfloridaenergywhizexpo/home/sun-06.jpg?attredirects=0" imageanchor="1">
<div style="display:block;margin-right:auto;margin-left:auto;text-align:center"><br>
</div>
<br>
<img border="0" height="191" src="https://sites.google.com/site/northfloridaenergywhizexpo/home/sun-06.jpg" width="200"></a></div>
</div>
<div dir="ltr">
<div style="text-align:center"><font color="#0000ff" size="5" style="background-color:rgb(204,204,204)"><b><font><br>
</font></b></font></div>
<div style="text-align:center"></div>
<div style="text-align:center"><font color="#0000ff" size="5" style="background-color:rgb(204,204,204)"><b><font>2<sup>nd</sup></font><font>&nbsp;Annual North Florida EnergyWhiz Expo&nbsp;</font></b></font></div>
<div style="text-align:left"><font size="5"><br>
</font></div>
<div><font size="5">
<table border="1" bordercolor="#888" cellspacing="0" style="text-align:left;border-collapse:collapse;border-top-color:rgb(136,136,136);border-right-color:rgb(136,136,136);border-bottom-color:rgb(136,136,136);border-left-color:rgb(136,136,136);border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px">
<tbody>
<tr>
<td style="width:169px;height:54px">&nbsp;<font color="#0000ff" style="background-color:rgb(255,255,255)">When</font></td>
<td style="width:576px;height:54px"><span style="border-collapse:separate"><span style="background-color:rgb(255,255,255)">April 11, 2015</span><span style="background-color:rgb(255,255,255)">&nbsp;</span></span></td>
</tr>
<tr>
<td style="width:169px;height:27px"><font color="#134f5c" style="background-color:rgb(255,255,255)">&nbsp;</font><font color="#0000ff" style="background-color:rgb(255,255,255)">Where</font></td>
<td style="width:576px;height:27px"><font style="background-color:rgb(255,255,255)">Santa Fe College Track</font></td>
</tr>
<tr>
<td style="width:169px;height:27px"><font color="#134f5c" style="background-color:rgb(255,255,255)">&nbsp;</font><font color="#0000ff" style="background-color:rgb(255,255,255)">What</font></td>
<td style="width:576px;height:27px"><font style="background-color:rgb(255,255,255)">Three Competitions:<br>
<br>
<a href="https://sites.google.com/site/northfloridaenergywhizexpo/home/register-for-the-junior-solar-sprint"><font color="#0000ff">Junior Solar Sprint</font> </a>- design and race a model solar car<br>
<br>
<font color="#0000ff"><a href="https://sites.google.com/site/northfloridaenergywhizexpo/home/register-for-the-solar-cook-off">Solar Cook-off</a></font> - design a solar cooker and develop a tasty recipe to cook in it.&nbsp;<br>
<br>
<font color="#0000ff"><a href="https://sites.google.com/site/northfloridaenergywhizexpo/home/register-for-the-junior-solar-sprint/extreme-solar">Extreme Solar Sprint</a></font> (must be registered for the Junior Solar Sprint to compete in this new category)</font></td>
</tr>
<tr>
<td style="width:169px;height:27px"><font color="#134f5c" style="background-color:rgb(255,255,255)">&nbsp;</font><font color="#0000ff" style="background-color:rgb(255,255,255)">How</font></td>
<td style="width:576px;height:27px"><font style="background-color:rgb(255,255,255)">Fill out registration form on this website and send in your Coach Waiver, Student Waivers and Registration Check to:<br>
<br>
Hands On Gainesville, Inc<br>
PO Box 357938<br>
Gainesville, FL 32635-7938<br>
</font><font color="#134f5c" style="background-color:rgb(255,255,255)"><br>
</font></td>
</tr>
<tr>
<td style="width:169px;height:27px"><font color="#134f5c" style="background-color:rgb(255,255,255)">&nbsp;</font><font color="#0000ff" style="background-color:rgb(255,255,255)">Why</font></td>
<td style="width:576px;height:27px"><font style="background-color:rgb(255,255,255)">To encourage future scientists and engineers to explore science in their community and to problem solve while designing their solar car models and solar cookers. (Oh, and to have fun!)</font></td>
</tr>
</tbody>
</table>
</font></div>
<div style="text-align:left"><font size="5"><br>
</font></div>
</div>
<div dir="ltr"><br>
</div>
<div dir="ltr"><br>
</div>
</div>
<div dir="ltr"><br>
</div>
<div dir="ltr"><br>
</div>

	<!-- Push Notifiction and check upon users -->
	<btn class = "btn btn-lg">
		<span class = "glyphicon glyphicon-user" data-ng-click = "showUser('lg')">
	</btn>
</section>


