<section data-ng-controller="HomeController" data-ng-init = "findUser();">
	
	<div class = "userNotification" data-ng-hide = "requestUsers.length == 0">
	<div data-ng-hide = "requestUsers.length == 0">
		{{requestUsers.length}} has sign up to join since you last log in
	</div>
	<ul class = "list-inline">
		<li data-ng-repeat = "user in requestUsers" data-ng-show = "{{user.isUser}} == 0">
			<span>{{user.displayName}}</span>
			<br>
			<span>{{user.email}}</span>
			<br>
			<button class = "btn btn-primary" data-ng-click = "accept(user._id)">Accept</button>
			<button class = "btn btn-danger" data-ng-click = "deleUser(user._id)"> Decline</button>
		</li>
	</ul>
	</div>

	<!-- Push Notifiction and check upon users -->
	<btn class = "btn btn-lg">
		<span class = "glyphicon glyphicon-user" data-ng-click = "showUser()">
	</btn>
</section>
