
<scetion ng-controller="HomeController" data-ng-init = "findUser()">
        <div class="modal-header">
            <h3 class="modal-title">All Users</h3>
        </div>
        <form data-ng-submit="pushSelected()" novalidate>
        <div class="modal-body">
            <fieldset>
            <ul data-ng-repeat = "user in allUser" class = "container row list-inline">
                <li class = "col col-xs-2">

                        <ul class = "row list-inline container">
                            <li class = "col-xs-4">
                                {{user.displayName}}
                            </li>
                            <li class = "col-xs-4">
                                {{user.email}}
                            </li>
                            <li class = "col-xs-1">
                               <span data-ng-click = "deleUser(user._id)"class = "glyphicon glyphicon-trash"/>
                            </li>

                        </ul>   

                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Send out a Boardcast</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

            <div collapse = "!isCollapsed">
                <div class="well well-lg">
                <textarea data-ng-model = "emailContent" name="emailContent" id="emailContent" class="form-control" cols=100%  rows="10" placeholder="Enter your content here">
                    
                </textarea>
             </div> 
            <button class="btn btn-primary pull-right" ng-click="pushAll(allUser, emailContent)">Push All</button>
        </div>
        </div>
        </fieldset>
        </form>

         


            

</section>

